/* Fix element spacing, percentages only for width and height? */

body {
  background-color: #469769;
}

p {
  color: #f4f1d0;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  margin: 0;
}

h1 {
  text-align: center; /* check if best practice */
  color: #f4f1d0;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
}

h2 {
  color: #f4f1d0;
  font-family: "Courier New", Courier, monospace;
}

h3 {
  color: #f4f1d0;
  font-family: "Courier New", Courier, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #326e4d;
  padding: 2%;
  margin: 1%;
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttons {
  display: flex;
  gap: 100px;
  padding-top: 40px;
}

#rock-button,
#paper-button,
#scissors-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f1d0;
  /* border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%; */
  border-radius: 25px;
  border-style: none;
  padding: 15px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#rock-button:active,
#paper-button:active,
#scissors-button:active {
  box-shadow: 0 10px 15px 0 rgba(40, 88, 61, 0.5),
    0 6px 20px 0 rgba(40, 88, 61, 0.5);
  transform: translateY(4px);
}

.score-board-card {
  background-color: #387955;
  display: flex;
  flex-direction: column;
  min-width: 90%;
  min-height: 30%;
  border: 3px dashed #f4f1d0;
  border-radius: 25px;
  margin-top: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#playerScore,
#computerScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f1d0;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  padding: 10px 90px 0px;
}
.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-container-two {
  display: flex;
}

.gameMessages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f4f1d0;
}

.computer-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f4f1d0;
  border-left: 1px solid #f4f1d0;
}
.score-counter,
.game-result {
  color: #f4f1d0;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bolder;
}
.score-counter {
  padding-bottom: 30px;
}

.game-result {
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 2px 2px 3px rgb(34, 33, 33);
}

p {
  color: #f4f1d0;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  margin: 0;
}
